@inherits OsirionComponentBase

<div class="@GetWrapperClass()">
    @if (Title is not null)
    {
        <h2 class="osirion-search-title">@Title</h2>
    }
    <form class="@GetSearchBoxClass()" method="get" action="@ActionUrl">
        <input name="@QueryParameterName"
               value="@SearchQuery"
               type="text"
               placeholder="@Placeholder"
               class="osirion-search-input" />
        <button type="submit" class="@GetButtonClass()">@SearchButtonText</button>
    </form>
</div>