@inherits OsirionComponentBase

<div class="@GetCssClass()">
    @if (ShowHeader)
    {
        <div class="osirion-markdown-preview-header">
            <h3>@Title</h3>
        </div>
    }

    <div id="@_previewRef.Id" @ref="_previewRef" class="osirion-markdown-preview-content @ContentCssClass">
        @if (string.IsNullOrWhiteSpace(Markdown))
        {
            <p class="osirion-markdown-preview-placeholder">@Placeholder</p>
        }
        else
        {
            @((MarkupString)GetRenderedHtml())
        }
    </div>
</div>

@code {
    private string GetCssClass()
    {
        return $"osirion-markdown-preview {CssClass}".Trim();
    }
}