@inherits OsirionComponentBase

<div class="@GetCssClass()">
    <div class="osirion-markdown-editor-preview-container">
        <div class="osirion-markdown-editor-section">
            <MarkdownEditor Content="@Content"
                            ContentChanged="HandleContentChanged"
                            CssClass="@EditorCssClass" />
        </div>

        @if (ShowPreview)
        {
            <div class="osirion-markdown-preview-section">
                <MarkdownPreview Markdown="@Content"
                                 Title="@PreviewTitle"
                                 CssClass="@PreviewCssClass" />
            </div>
        }
    </div>
</div>