@namespace Osirion.Blazor.Components
@inherits OsirionComponentBase

@if (!string.IsNullOrEmpty(HtmlContent))
{
    <HeadContent>
        <link rel="stylesheet" href="_content/Osirion.Blazor.Core/css/osirion-html-renderer.css" />
    </HeadContent>

    <div id="syntax-highlighter-config"
         data-enable-copy="@EnableCopyButton.ToString().ToLower()"
         data-enable-line-highlighting="@EnableLineHighlighting.ToString().ToLower()"
         data-show-line-numbers="@ShowLineNumbers.ToString().ToLower()"
         style="display: none;">
    </div>
    
     @if (HasCodeBlocks && EnableSyntaxHighlighting)
    {
        <HeadContent>
            @if (!UseAccessibleTheme)
            {
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" />
            }
            else
            {
                <style>
                    @((MarkupString)GetAccessibleThemeCss())
                </style>
            }

            @if (ShowLineNumbers)
            {
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" />
            }
        </HeadContent> 

        @LoadScript("https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js")
        @LoadScript("./_content/Osirion.Blazor.Core/js/osirion-syntax-highlighter.es5.min.js")
        @LoadScript("./_content/Osirion.Blazor.Core/js/osirion-copy-button.es5.min.js")
        @LoadScript("./_content/Osirion.Blazor.Core/js/osirion-line-highlighting.es5.min.js")
        

        @foreach (var lang in DetectedLanguages.Where(NeedsLanguageComponent))
        {
            @LoadScript($"https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-{(lang)}.min.js")
        }

        @if (ShowLineNumbers)
        {
            @LoadScript("https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js")
        }
    }

    <div class="@GetHtmlRendererClass()" @attributes="AdditionalAttributes">
        @((MarkupString)ProcessedHtml)
    </div>
}