@namespace Osirion.Blazor.Components
@inherits OsirionComponentBase

<nav aria-label="breadcrumb" class="@GetBreadcrumbsClass()">
    <ol class="osirion-breadcrumbs-list">
        @if (ShowHome)
        {
            <li class="osirion-breadcrumbs-item">
                <a href="@HomeUrl" class="osirion-breadcrumbs-link">@HomeText</a>
            </li>
        }

        @foreach (var segment in BreadcrumbInfo.Segments)
        {
            <li class="osirion-breadcrumbs-item @(segment.IsLast ? "osirion-breadcrumbs-current" : "")">
                @if (segment.IsLast && !LinkLastItem)
                {
                    <span class="osirion-breadcrumbs-text">
                        @(SegmentFormatter?.Invoke(segment.Name) ?? FormatSegmentName(segment.Name))
                    </span>
                }
                else
                {
                    <a href="@($"{UrlPrefix}{segment.Path}")" class="osirion-breadcrumbs-link">
                        @(SegmentFormatter?.Invoke(segment.Name) ?? FormatSegmentName(segment.Name))
                    </a>
                }
            </li>
        }
    </ol>
</nav>