@namespace Osirion.Blazor.Cms.Admin.Components.Layouts
@inherits LayoutComponentBase
@implements IDisposable
@using Osirion.Blazor.Cms.Admin.Components.Layouts.Navigation
@using Osirion.Blazor.Cms.Admin.Components.Layouts.Alerts
@using Osirion.Blazor.Cms.Admin.Core.State
@using Osirion.Blazor.Cms.Domain.Interfaces
@inject CmsState AdminState
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager

<div class="d-flex flex-column min-vh-100">
    <NavMenu User="@GetUserInfo()" OnSignOut="SignOut" />

    <div class="container-fluid flex-grow-1 p-3 p-lg-4">
        @if (!string.IsNullOrWhiteSpace(AdminState.StatusMessage))
        {
            <StatusAlert Message="@AdminState.StatusMessage"
                         Type="StatusAlert.AlertType.Success"
                         OnDismiss="@(() => AdminState.ClearMessages())" />
        }

        @if (!string.IsNullOrWhiteSpace(AdminState.ErrorMessage))
        {
            <StatusAlert Message="@AdminState.ErrorMessage"
                         Type="StatusAlert.AlertType.Error"
                         OnDismiss="@(() => AdminState.ClearMessages())" />
        }

        @Body
    </div>

    <Footer />
</div>

@code {
    
}