@namespace Osirion.Blazor.Navigation.Components
@inherits OsirionComponentBase

<div class="@CombineCssClasses("osirion-menu-container")" @attributes="Attributes">
    <!-- Mobile menu toggle button -->
    @if (CollapseOnMobile)
    {
        <input type="checkbox" id="@ToggleId" class="osirion-navbar-toggler" aria-hidden="true" tabindex="-1" />
        <label for="@ToggleId" class="osirion-navbar-toggle" aria-label="@ToggleAriaLabel">
            <span class="osirion-toggle-icon"></span>
        </label>
    }

    <nav class="osirion-menu-nav" aria-label="@AriaLabel">
        <!-- Branding container -->
        <div class="osirion-nav-branding">
            @if (BrandingTemplate is not null)
            {
                @BrandingTemplate
            }
            else if (!string.IsNullOrWhiteSpace(BrandLogo))
            {
            <a href="@Href" class="osirion-brand-link">
                <img src="@BrandLogo" alt="@BrandText" class="osirion-brand-logo" width="60" heigth="60" />
                    @if (!string.IsNullOrWhiteSpace(BrandText))
                    {
                        <span class="osirion-brand-text">@BrandText</span>
                    }
            </a>
            }
            else if (!string.IsNullOrWhiteSpace(BrandText))
            {
            <a class="osirion-brand-link osirion-brand-text" href="@Href">@BrandText</a>
            }
        </div>

        <!-- Main menu content -->
        <div class="osirion-menu" role="menubar">
            <div class="osirion-menu-inner">
                @ChildContent
            </div>
        </div>
    </nav>
</div>