@namespace Osirion.Blazor.Cms.Components
@using Osirion.Blazor.Cms.Web.Components
@inherits OsirionContentDetailPageBase
@attribute [StreamRendering]

<div class="@GetHomePageClass()">
    @if (IsLoading)
    {
        <OsirionPageLoading ShowText="ShowLoadingText" Text="@LoadingText" />
    }
    else if (Content is null && !string.IsNullOrWhiteSpace(ContentPath))
    {
            <OsirionContentNotFound ErrorCode="404" />
    }
    else
    {
        @if (ShowHero)
        {
            <HeroSection Title="@Content?.Title"
                         Subtitle="@Content?.Description"
                         BackgroundPattern="HeroBackgroundPattern"
                         UseBackgroundImage="UseHeroBackgroundImage"
                         ImageUrl="@Content?.FeaturedImageUrl"
                         ImageAlt="@Content?.Title"
                         ImagePosition="HeroImagePosition"
                         Alignment="HeroAlignment"
                         Variant="HeroVariant"
                         PrimaryButtonText="@HeroPrimaryButtonText"
                         PrimaryButtonUrl="@HeroPrimaryButtonUrl"
                         SecondaryButtonText="@HeroSecondaryButtonText"
                         SecondaryButtonUrl="@HeroSecondaryButtonUrl" />
        }

        <div class="osirion-homepage-content">
            @if (ShowFeaturedContent)
            {
                <FeaturedPostsSection Title="@FeaturedSectionTitle"
                                      Description="@FeaturedSectionDescription"
                                      Posts="@FeaturedItems"
                                      Layout="@FeaturedLayout"
                                      Columns="@FeaturedColumns"
                                      PostCount="@FeaturedCount"
                                      ShowExcerpt="@ShowFeaturedExcerpt"
                                      ShowAuthor="@ShowFeaturedAuthor"
                                      ShowCategories="@ShowFeaturedCategories"
                                      ViewAllUrl="@FeaturedViewAllUrl"
                                      ShowViewAllLink="@ShowFeaturedViewAll" />
            }


            @if (Content is not null && ChildContent is null)
            {

                <OsirionHtmlRenderer HtmlContent="@Content.Content" />

            }


            @if (ChildContent is not null)
            {
                <div class="osirion-homepage-content">
                    @ChildContent
                </div>
            }


            @if (ShowRecentContent && RecentItems is not null && RecentItems.Any())
            {
                <ContentSection Title="@RecentSectionTitle">
                    <ContentList ShowPagination="false"
                                 ReadMoreText="@ReadMoreText" />
                </ContentSection>
            }


            @if (ShowCategories || ShowTags)
            {
                <ContentSection Title="@BrowseSectionTitle" CssClass="osirion-homepage-browse">
                    <div class="osirion-browse-content">
                        @if (ShowCategories)
                        {
                            <div class="osirion-browse-section">
                                <h3>@CategoriesSectionTitle</h3>
                                <CategoriesList MaxCategories="@MaxCategories"
                                                ShowCount="@ShowCategoryCounts"
                                                CategoryUrlFormatter="@CategoryUrlFormatter" />
                            </div>
                        }

                        @if (ShowTags)
                        {
                            <div class="osirion-browse-section">
                                <h3>@TagsSectionTitle</h3>
                                <TagCloud MaxTags="@MaxTags"
                                          ShowCount="@ShowTagCounts"
                                          TagUrlFormatter="@TagUrlFormatter" />
                            </div>
                        }
                    </div>
                </ContentSection>
            }


            @if (!string.IsNullOrWhiteSpace(CustomContent))
            {
                <ContentSection CssClass="osirion-homepage-custom">
                    <OsirionHtmlRenderer HtmlContent="@CustomContent" />
                </ContentSection>
            }

        </div>
    }
</div>