@namespace Osirion.Blazor.Cms.Components
@using Osirion.Blazor.Cms.Web.Components
@inherits OsirionContentDetailPageBase
@attribute [StreamRendering]

<div class="@GetHomePageClass() @Class" style="@Style" @attributes="Attributes">
    @if (IsLoading)
    {
        <OsirionPageLoading ShowText="ShowLoadingText" Text="@LoadingText" />
    }
    else if (NoContent() && !IsLoading)
    {
        <OsirionContentNotFound ErrorCode="404" />
    }
    else
    {
        <HeadContent>
            <SeoMetadataRenderer Content="Content" SiteNameOverride="@WebsiteName" SchemaTypes="@SchemaTypes" />
        </HeadContent>

        @if (ShowHero)
        {
            <HeroSection Title="@Content?.Title"
                         Subtitle="@Content?.Description"
                         BackgroundPattern="HeroBackgroundPattern"
                         UseBackgroundImage="UseHeroBackgroundImage"
                         ImageUrl="@Content?.FeaturedImageUrl"
                         ImageAlt="@Content?.Title"
                         ImagePosition="HeroImagePosition"
                         Alignment="HeroAlignment"
                         Variant="HeroVariant"
                         PrimaryButtonText="@HeroPrimaryButtonText"
                         PrimaryButtonUrl="@HeroPrimaryButtonUrl"
                         SecondaryButtonText="@HeroSecondaryButtonText"
                         SecondaryButtonUrl="@HeroSecondaryButtonUrl"
                         Theme="HeroTheme" />
        }

        <div class="osirion-homepage-content">
            @if (Content is not null)
            {
                <OsirionHtmlRenderer HtmlContent="@Content.Content" />
            }


            @if (ChildContent is not null)
            {
                <div class="osirion-homepage-content">
                    @ChildContent
                </div>
            }

            @if (ShowFeaturedContent)
            {
                <OsirionContentListSection Title="@FeaturedSectionTitle"
                                           Description="@FeaturedSectionDescription"
                                           Items="@FeaturedItems"
                                           Layout="@FeaturedLayout"
                                           Columns="@FeaturedColumns"
                                           PostCount="@FeaturedCount"
                                           ShowExcerpt="@ShowFeaturedExcerpt"
                                           ShowAuthor="@ShowFeaturedAuthor"
                                           ShowCategories="@ShowFeaturedCategories"
                                           ViewAllUrl="@FeaturedViewAllUrl"
                                           ShowViewAllLink="@ShowFeaturedViewAll" />
            }


            @if (ShowRecentContent && RecentItems is not null && RecentItems.Any())
            {
                <ContentSection Title="@RecentSectionTitle">
                    <ContentList ShowPagination="false"
                                 ReadMoreText="@ReadMoreText" />
                </ContentSection>
            }


            @if (ShowCategories || ShowTags)
            {
                <ContentSection Title="@BrowseSectionTitle" Class="osirion-homepage-browse">
                    <div class="osirion-browse-content">
                        @if (ShowCategories)
                        {
                            <div class="osirion-browse-section">
                                <h3>@CategoriesSectionTitle</h3>
                                <CategoriesList MaxCategories="@MaxCategories"
                                                ShowCount="@ShowCategoryCounts"
                                                CategoryUrlFormatter="@CategoryUrlFormatter" />
                            </div>
                        }

                        @if (ShowTags)
                        {
                            <div class="osirion-browse-section">
                                <h3>@TagsSectionTitle</h3>
                                <TagCloud MaxTags="@MaxTags"
                                          ShowCount="@ShowTagCounts"
                                          TagUrlFormatter="@TagUrlFormatter" />
                            </div>
                        }
                    </div>
                </ContentSection>
            }


            @if (!string.IsNullOrWhiteSpace(CustomContent))
            {
                <ContentSection Class="osirion-homepage-custom">
                    <OsirionHtmlRenderer HtmlContent="@CustomContent" />
                </ContentSection>
            }

        </div>
    }
</div>