@namespace Osirion.Blazor.Cms.Components
@inherits OsirionComponentBase

<nav class="@GetDirectoryNavClass()">
    @if (Title != null)
    {
        <h3 class="osirion-directory-title">@Title</h3>
    }

    @if (IsLoading)
    {
        <div class="osirion-loading">@LoadingText</div>
    }
    else if (Directories == null || !Directories.Any())
    {
        <div class="osirion-no-directories">@NoContentText</div>
    }
    else
    {
        <ul class="osirion-directory-list">
            @foreach (var directory in Directories)
            {
                <li class="osirion-directory-item">
                    <a href="@GetDirectoryUrl(directory)"
                       class="@GetLinkClass(directory)"
                       @onclick="() => OnDirectoryClick(directory)"
                       @onclick:preventDefault="DirectoryClicked.HasDelegate">
                        @directory.Name
                        @if (ShowItemCount)
                        {
                            <span class="osirion-directory-count">@directory.ItemCount</span>
                        }
                    </a>

                    @if (ShowSubdirectories && directory.Subdirectories != null && directory.Subdirectories.Any()
                   && (ExpandedDirectory == directory.Path || ExpandAllSubdirectories))
                    {
                        <ul class="osirion-subdirectory-list">
                            @foreach (var subdirectory in directory.Subdirectories)
                            {
                                <li class="osirion-directory-item">
                                    <a href="@GetDirectoryUrl(subdirectory)"
                                       class="@GetLinkClass(subdirectory)"
                                       @onclick="() => OnDirectoryClick(subdirectory)"
                                       @onclick:preventDefault="DirectoryClicked.HasDelegate">
                                        @subdirectory.Name
                                        @if (ShowItemCount)
                                        {
                                            <span class="osirion-directory-count">@subdirectory.ItemCount</span>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
</nav>