@namespace Osirion.Blazor.Cms.Components
@inherits OsirionComponentBase

<div class="@GetTagCloudClass()">
    @if (Title != null)
    {
        <h3 class="osirion-tag-cloud-title">@Title</h3>
    }

    @if (IsLoading)
    {
        <div class="osirion-loading">@LoadingText</div>
    }
    else if (Tags == null || !Tags.Any())
    {
        <div class="osirion-no-tags">@NoContentText</div>
    }
    else
    {
        <div class="@GetTagCloudClass">
            @foreach (var tag in Tags)
            {
                <a href="@GetTagUrl(tag)" class="@GetTagLinkClass(tag)" rel="nofollow">
                    @tag.Name
                    @if (ShowCount)
                    {
                        <span class="osirion-tag-count">@tag.Count</span>
                    }
                </a>
            }
        </div>
    }
</div>