@namespace Osirion.Blazor.Cms.Web.Components

<nav class="@GetNavClass()">
    @if (Title is not null)
    {
        <h3 class="osirion-nav-title">@Title</h3>
    }

    @if (IsLoading)
    {
        <div class="osirion-loading">@LoadingText</div>
    }
    else if (Directories is null || !Directories.Any())
    {
        <div class="osirion-no-directories">@NoContentText</div>
    }
    else
    {
        @if (ShowLocaleSelector)
        {
            <div class="osirion-locale-selector">
                @foreach (var locale in AvailableLocales)
                {
                    <button class="@GetLocaleButtonClass(locale)" @onclick="() => SwitchLocale(locale)">
                        @GetLocaleName(locale)
                    </button>
                }
            </div>
        }

        <ul class="osirion-nav-list">
            @RenderDirectories(Directories)
        </ul>
    }
</nav>